<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사원 정보</title>
</head>
<body>
	<div>
		<label id="empId">사원번호</label>
		<input type="text" id="empId" 
		th:value="${empInfo.employeeId}" readOnly>
	</div>
	<div>
		<label id="name">이름</label>
		<input type="text" id="name" th:value="${#strings.isEmpty(empInfo.firstName) ? 
		empInfo.lastName : empInfo.lastName + ', ' + empInfo.firstName}" readOnly>
	</div>
	<div>
		<label id="email">이메일</label>
		<input type="text" id="email" th:value="${empInfo.email}" readOnly>
	</div>
	<div>
		<label id="hireDate">입사일</label>
		<input type="text" id="hireDate" th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}" readOnly>
	</div>
	<div>
		<label id="job">업무</label>
		<input type="text" id="job" th:value="${empInfo.jobId}" readOnly>
	</div>
	<div>
		<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button>
	</div>
</body>
</html>